/*
================
Fonts
================
*/

/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,400;1,9..40,500&family=Manrope:wght@300;400;500;600;700;800&family=Montserrat:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "DM Sans", sans-serif;
  font-family: "Manrope", sans-serif;
  font-family: "Montserrat", sans-serif;
  /* background-color: #000; */
}

/*
================
Root Variables
================
*/
/* :root { */
/* primary colors */
/* --clr-primary-25: #faf3f9;
  --clr-primary-50: #f5e7f2;
  --clr-primary-100: #ebcee6;
  --clr-primary-200: #d69dcd;
  --clr-primary-300: #c26cb3;
  --clr-primary-400: #ad3b9a;
  --clr-primary-500: #990a81;
  --clr-primary-600: #7a0867;
  --clr-primary-700: #5c064d;
  --clr-primary-800: #3d0434;
  --clr-primary-900: #1f021a;
  --clr-primary-950: #0f010d; */

/* secondary colors */
/* --clr-secondary-25: #faf3f5;
  --clr-secondary-50: #f4e7ec;
  --clr-secondary-100: #eaced8;
  --clr-secondary-200: #d59db1;
  --clr-secondary-300: #bf6d8b;
  --clr-secondary-400: #aa3c64;
  --clr-secondary-500: #950b3d;
  --clr-secondary-600: #770931;
  --clr-secondary-700: #590725;
  --clr-secondary-800: #3c0418;
  --clr-secondary-900: #1e020c;
  --clr-secondary-950: #0f0106; */

/* accent colors */
/* --clr-accent-25: #f7f3f9;
  --clr-accent-50: #f0e6f2;
  --clr-accent-100: #e0cde5;
  --clr-accent-300: #a36ab2;
  --clr-accent-400: #843899;
  --clr-accent-500: #65067f;
  --clr-accent-600: #510566;
  --clr-accent-700: #3d044c;
  --clr-accent-800: #280233;
  --clr-accent-900: #140119;
  --clr-accent-950: #0a010d; */

/* neutral colors */
/* --clr-neutral-25: #f4f4f4;
  --clr-neutral-50: #e9e9e9;
  --clr-neutral-100: #d3d2d3;
  --clr-neutral-200: #a7a5a7;
  --clr-neutral-300: #7a787a;
  --clr-neutral-400: #4e4b4e;
  --clr-neutral-500: #221e22;
  --clr-neutral-600: #1b181b;
  --clr-neutral-700: #141214;
  --clr-neutral-800: #0e0c0e;
  --clr-neutral-900: #070607;
  --clr-neutral-950: #030303; */

/* success colors */
/* --clr-success-25: #f5f8f5;
  --clr-success-50: #eaf0eb;
  --clr-success-100: #d6e1d6;
  --clr-success-200: #acc4ae;
  --clr-success-300: #83a685;
  --clr-success-400: #59895d;
  --clr-success-500: #306b34;
  --clr-success-600: #26562a;
  --clr-success-700: #1d401f;
  --clr-success-800: #132b15;
  --clr-success-900: #0a150a;
  --clr-success-950: #050b05; */

/* warning colors */
/* --clr-warning-25: #fefef9;
  --clr-warning-50: #fdfdf3;
  --clr-warning-100: #fbfbe7;
  --clr-warning-200: #f6f7cf;
  --clr-warning-400: #edef9f;
  --clr-warning-500: #e9eb87;
  --clr-warning-600: #babc6c;
  --clr-warning-700: #8c8d51;
  --clr-warning-800: #5d5e36;
  --clr-warning-900: #2f2f1b;
  --clr-warning-950: #17170d; */

/* destructive colors */
/* --clr-destructive-25: #fbe9ea;
  --clr-destructive-50: #f8d3d4;
  --clr-destructive-100: #f1a7aa;
  --clr-destructive-200: #e97a7f;
  --clr-destructive-300: #e24e55;
  --clr-destructive-400: #fd4449;
  --clr-destructive-500: ##db222a;
  --clr-destructive-600: #af1b22;
  --clr-destructive-700: #831419;
  --clr-destructive-800: #580e11;
  --clr-destructive-900: #2c0708;
  --clr-destructive-950: #160304;

  --clr-white: #ffffff;
  --clr-black: #000000;
} */

/* /* 
================
Global Styles
================
*/
/* html {
  font-size: 100%;
}  */

/* *,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
} */

/* body {
  min-height: 100vh;
  width: 100%;
  background-color: #fff;
  overflow: hidden;
} */

/* ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  width: 100%;
  display: block;
}

.main {
  min-height: 100vh;
  display: flex;
}

.left {
  width: 50%;
}

.right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.img_inner {
  height: 100vh;
  object-fit: fill;
}

.text_input::placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #7c7c7c;
}

.text_input {
  padding: 12px 10px;
  border: 1px solid #333;
  border-radius: 4px;
}

.form_label {
  font-weight: 500;
  font-size: 18px;
}

.form-g {
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 30px;
  margin-top: 60px;
}

.logo {
  width: 200px;
}

.s_btn {
  background: #990a81;
  padding: 14px;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.input_group {
  width: 400px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.input_group_spec {
  width: 400px;
  display: flex;
  gap: 8px;
  justify-items: center;
}

.note {
  margin-top: 100px;
  font-weight: 500;
}

.agree_label {
  color: #6a6969;
}

.note span {
  font-style: italic;
  color: #6a6969;
  font-weight: 400;
}  */
